# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\大数据开发\Hive3.x\HIVE-API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
